<div class="row">
    <div ng-repeat="item in menu.foundItems">
        <div class="clearfix" ng-if="$index % 4 == 0"></div>
        <div class="col-md-3">
            <div class="well">
                <h4 class="bg-success">{{item.name}}</h4>
                <h5>{{item.short_name}}</h5>
                <small>{{item.description}}</small><br>
                <input type="button" ng-click="menu.onRemove({index: $index})" class="btn btn-sm btn-danger" value="Remove Item">
            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger" role="alert" ng-show="menu.onEmpty">{{menu.onEmpty}}</div>
