<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
    <script src="styles/angular.min.js"></script>
    <script src="styles/app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="menu.keyWord">
              <div class="narrow-button">
                  <button class="btn btn-primary" ng-click="menu.matchedMenuItems(menu.keyWord)">
                    Narrow It Down For Me!</button>
              </div>
          </div><hr><hr>
          <found-items found-items="menu.found" on-remove="menu.removeMenuItem(index)" on-empty="menu.message"></found-items>
      </div>



</body>
</html>
