<div class="jumbotron mydiv3">
	<h1>Welcome to Restaurant App</h1>

	<div class="row">
	  <div class="col-md-4">
	    <div class="thumbnail">

	        <img src="./imgs/SO.jpg" alt="SO" style="width:100%">
	        <div class="caption">
	        </div>

	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="thumbnail">

	        <img src="./imgs/SP.jpg" alt="Nature" style="width:100%">
	        <div class="caption">
	        </div>

	    </div>
	  </div>
	  <div class="col-md-4">
	    <div class="thumbnail">

	        <img src="./imgs/SR.jpg" alt="Fjords" style="width:100%">
	        <div class="caption">
	        </div>

	    </div>
	  </div>
	</div>

</div>
