<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="FoodCalculator">
   <div class="container" ng-controller="FoodCalculatorController">
     <h1>Lunch Checker</h1>

         <div class="form-group" >
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="foodList" >
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="displayMsg();">Check If Too Much</button>
         </div>
         <div class="form-group message">
           Message:  <span style="color: {{myColor}}"> {{totalValue}} </span>
         </div>
   </div>

</body>
</html>
